*{
    font-size: 25px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    color: black;

}
div{
    color: red;
    display: inline;
}
aside,main
{
    float: left;
}
aside{
    background-color: hotpink;
    width: 30%;
    height: 600px;
}

main{
    background-color: indianred;
    width: 70%;
    height: 600px;
}


footer,
header {
    background-color: blueviolet;
    padding: 30px 0;
}
